.centered-modal {
    position: fixed;
  
  top: 0;
  right: 0;
  bottom: 0;
  
  display:block;
  left: 45%;
  overflow-y:auto !important;
  
  z-index: 40;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%)
  }


  .modal-open {
    overflow-y:auto;
  }

  .mbackdrop {
    position: absolute;
    width:100%;
    height:100%;
    z-index: 10;
    background-color:rgba(0,0,0,0.5);
}

.noscroll{
    overflow-y: hidden !important;
}