<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4
          static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none
            rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <!-- Topbar Search -->
          <!--
          <form class="d-none d-sm-inline-block form-inline mr-auto
            navbar-search form-horizontal">

            <div class="input-group">
              
              <input [(ngModel)]="requestCount" type="number"
                class="form-control bg-light small" placeholder="# of requests"
                aria-label="Search" aria-describedby="basic-addon2"
                [ngModelOptions]="{standalone: true}" />
 
              <button *ngIf="isTestRunning == false" class="btn btn-success"
                type="button" style="width:50px !important;"
                (click)="onStartTests()">
                <i class="fas fa-play fa-sm"
                  style="color:white"></i>
              </button>

              <button *ngIf="isTestRunning == true" class="btn btn-warning"
                type="button" style="width:50px !important;"
                (click)="onAbortTest()">
                <i class="fas fa-times-circle fa-sm" style="color:white"></i>
              </button>


            </div>
          </form>
        -->
          <!-- Topbar Navbar -->
          <!-- Nav Item - User Information -->
          <ul class="navbar-nav ml-auto">
            <li>
              <a class="btn btn-success" style="margin-top:1em!important;" type="button" (click)="showModal()">
                <span style="color:white;">Start Tests</span> &nbsp;

              </a>
            </li>

            <div class="topbar-divider d-none d-sm-block"></div>
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">API
                  Stress Test Toolkit</span>
                <!--
                <img class="img-profile rounded-circle"
                  src="https://source.unsplash.com/QAB-WJcbgJk/60x60">
                 -->
              </a>
            </li>
          </ul>
        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center
            justify-content-between
            mb-4">
            <h1 class="h3 mb-0 text-gray-800">Metrics</h1>
            <a href="#" class="d-none d-sm-inline-block btn btn-sm
              btn-primary
              shadow-sm"><i class="fas fa-download fa-sm
                text-white-50"></i>
              Generate Report</a>
          </div>

          <!-- Content Row -->
          <div class="row">

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100
                py-2">
                <div class="card-body">
                  <div class="row no-gutters
                    align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold
                        text-primary
                        text-uppercase mb-1">Request
                        Responses</div>
                      <div class="h5 mb-0 font-weight-bold
                        text-gray-800">{{responseCount}}</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-calendar fa-2x
                        text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-success shadow h-100
                py-2">
                <div class="card-body">
                  <div class="row no-gutters
                    align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold
                        text-success
                        text-uppercase mb-1">Avg.
                        Response Time</div>
                      <div class="h5 mb-0 font-weight-bold
                        text-gray-800">{{avgResponseTime}} sec</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-dollar-sign fa-2x
                        text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-info shadow h-100
                py-2">
                <div class="card-body">
                  <div class="row no-gutters
                    align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold
                        text-info
                        text-uppercase mb-1">Success Rate</div>
                      <div class="row no-gutters
                        align-items-center">
                        <div class="col-auto">
                          <div class="h5 mb-0 mr-3
                            font-weight-bold
                            text-gray-800">{{getSuccessRate()}}%</div>
                        </div>
                        <div class="col">
                          <div class="progress
                            progress-sm mr-2">
                            <div class="progress-bar
                              bg-info" role="progressbar" [ngStyle]="{'width': getSuccessPercent()}" aria-valuenow="0"
                              aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-clipboard-list
                        fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Pending Requests Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-danger shadow h-100
                py-2">
                <div class="card-body">
                  <div class="row no-gutters
                    align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold
                        text-danger
                        text-uppercase mb-1">Failed Requests</div>
                      <div class="h5 mb-0 font-weight-bold
                        text-gray-800">{{totalFailures}}</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-comments fa-2x
                        text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Content Row -->

          <div class="row">

            <!-- Bar Chart -->
            <div class="col-xl-4 col-lg-4">
              <div class="card shadow mb-4" style="margin-top: 0px; height:27em">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row
                  align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold
                    text-primary">Responses
                  </h6>

                  <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-ellipsis-v fa-sm
                        fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu
                      dropdown-menu-right shadow
                      animated--fade-in" aria-labelledby="dropdownMenuLink">
                      <div class="dropdown-header">Dropdown
                        Header:</div>
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another
                        action</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Something
                        else here</a>
                    </div>
                  </div>

                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <div class="chart-area">
                    <canvas #responseBarchart id="responseBarchart" width="100%" height="100%"></canvas>
                  </div>
                </div>
              </div>
            </div>

            <!-- Pie Chart -->
            <div class="col-xl-4 col-lg-4">
              <div class="card shadow mb-4" style="margin-top: 0px; height:27em">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row
                  align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold
                    text-primary">Response
                    Times </h6>

                  <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-ellipsis-v fa-sm
                        fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu
                      dropdown-menu-right shadow
                      animated--fade-in" aria-labelledby="dropdownMenuLink">
                      <div class="dropdown-header">Dropdown
                        Header:</div>
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another
                        action</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Something
                        else here</a>
                    </div>
                  </div>

                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <div class="chart-pie pt-4 pb-2" style="padding-top: 0px !important;">
                    <canvas #responseTimePieChart id="responseTimePieChart" width="100%" height="100%"></canvas>
                  </div>


                </div>
              </div>
            </div>

            <!-- Line Chart -->
            <div class="col-xl-4 col-lg-4">
              <div class="card shadow mb-4" style="margin-top: 0px; height:27em">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row
                  align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold
                    text-primary">Request Success Trend
                  </h6>
                  <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-ellipsis-v fa-sm
                        fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu
                      dropdown-menu-right shadow
                      animated--fade-in" aria-labelledby="dropdownMenuLink">
                      <div class="dropdown-header">Dropdown
                        Header:</div>
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another
                        action</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Something
                        else here</a>
                    </div>
                  </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <div class="chart-pie pt-4 pb-2" style="padding-top: 0px !important;">
                    <canvas #successLineChart id="successLineChart" width="100%" height="100%"></canvas>
                  </div>

                </div>
              </div>
            </div>
          </div>

          <!-- Content Row -->
          <div *ngIf="hideElement" class="row">

            <!-- Content Column -->
            <div class="col-lg-6 mb-4">

              <!-- Project Card Example -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold
                    text-primary">Projects</h6>
                </div>
                <div class="card-body">
                  <h4 class="small font-weight-bold">Server
                    Migration <span class="float-right">20%</span></h4>
                  <div class="progress mb-4">
                    <div class="progress-bar bg-danger" role="progressbar" style="width: 20%" aria-valuenow="20"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <h4 class="small font-weight-bold">Sales Tracking <span class="float-right">40%</span></h4>
                  <div class="progress mb-4">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: 40%" aria-valuenow="40"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <h4 class="small font-weight-bold">Customer Database <span class="float-right">60%</span></h4>
                  <div class="progress mb-4">
                    <div class="progress-bar" role="progressbar" style="width:
                      60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <h4 class="small font-weight-bold">Payout
                    Details <span class="float-right">80%</span></h4>
                  <div class="progress mb-4">
                    <div class="progress-bar bg-info" role="progressbar" style="width: 80%" aria-valuenow="80"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <h4 class="small font-weight-bold">Account
                    Setup <span class="float-right">Complete!</span></h4>
                  <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div>

              <!-- Color System -->
              <div class="row">
                <div class="col-lg-6 mb-4">
                  <div class="card bg-primary text-white
                    shadow">
                    <div class="card-body">
                      Primary
                      <div class="text-white-50 small">#4e73df</div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 mb-4">
                  <div class="card bg-success text-white
                    shadow">
                    <div class="card-body">
                      Success
                      <div class="text-white-50 small">#1cc88a</div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 mb-4">
                  <div class="card bg-info text-white shadow">
                    <div class="card-body">
                      Info
                      <div class="text-white-50 small">#36b9cc</div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 mb-4">
                  <div class="card bg-warning text-white
                    shadow">
                    <div class="card-body">
                      Warning
                      <div class="text-white-50 small">#f6c23e</div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 mb-4">
                  <div class="card bg-danger text-white
                    shadow">
                    <div class="card-body">
                      Danger
                      <div class="text-white-50 small">#e74a3b</div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 mb-4">
                  <div class="card bg-secondary text-white
                    shadow">
                    <div class="card-body">
                      Secondary
                      <div class="text-white-50 small">#858796</div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 mb-4">
                  <div class="card bg-light text-black
                    shadow">
                    <div class="card-body">
                      Light
                      <div class="text-black-50 small">#f8f9fc</div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 mb-4">
                  <div class="card bg-dark text-white shadow">
                    <div class="card-body">
                      Dark
                      <div class="text-white-50 small">#5a5c69</div>
                    </div>
                  </div>
                </div>
              </div>

            </div>

            <div class="col-lg-6 mb-4">

              <!-- Illustrations -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold
                    text-primary">Illustrations</h6>
                </div>
                <div class="card-body">

                </div>
              </div>

              <!-- Approach -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold
                    text-primary">Development
                    Approach</h6>
                </div>
                <div class="card-body">
                  <p>SB Admin 2 makes extensive use of
                    Bootstrap 4 utility
                    classes in order to reduce CSS bloat and
                    poor page
                    performance. Custom CSS classes are used
                    to create custom
                    components and custom utility classes.</p>
                  <p class="mb-0">Before working with this
                    theme, you should
                    become familiar with the Bootstrap
                    framework, especially
                    the utility classes.</p>
                </div>
              </div>

            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Kynetic Systems &copy; 2020</span> &nbsp;&nbsp;

            <span> Theme by <a href="https://startbootstrap.com/themes/sb-admin-2/">startbootstrap</a> </span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

    <!-- Modal [ngClass]="{'modal-backdrop fade in' : showmodal}" -->

    <div *ngIf="showmodal" class="modal-dialog" [ngClass]="{'modal-open centered-modal' : showmodal}">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Request Details</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <input type="text" name="url" class="form-control" [(ngModel)]="formData.url"
                placeholder="URL for stress test">
            </div>
            <div class="form-group form-inline">

              <select [(ngModel)]="formData.method" name="method" class="form-control">
                <option value="GET">GET</option>
                <option value="POST">POST</option>
                <option value="PUT">PUT</option>
                <option value="DELETE">DELETE</option>
              </select>
              &nbsp;

              <input type="number" name="reqCount" [(ngModel)]="formData.reqCount" class="form-control"
                placeholder="# of requests">
            </div>

            <div class="form-group form-inline">
              <input type="text" name="username" [(ngModel)]="formData.username" class="form-control"
                placeholder="username">&nbsp;
              <input type="text" name="password" [(ngModel)]="formData.password" class="form-control"
                placeholder="password">
            </div>

            <div class="form-group">
              <input type="text" name="headers" [(ngModel)]="formData.headers" class="form-control"
                placeholder="headers (json)">
              <label *ngIf="!isValidJson(formData.headers)" style="color:red">invalid json</label>
            </div>

            <div class="form-group">
              <input type="text" name="postdata" [(ngModel)]="formData.postdata" class="form-control"
                placeholder="postdata (json)">
              <label *ngIf="!isValidJson(formData.postdata)" style="color:red">invalid json</label>
            </div>

            <div *ngIf="formData.reqCount >= 100 && formData.url.indexOf('172.18.0.3') < 0"
              class="form-group form-check">
              <input name="accessCheck" [(ngModel)]="formData.accessCheck" type="checkbox" class="form-check-input">
              <label class="form-check-label" style="color:red;">I am authorized to
                access this endpoint</label>
            </div>

          </form>
        </div>
        <div class="modal-footer">
          <div class="container">
            <div class="row justify-content-between">
              <div class="col-sm-6 col-md-6 col-lg-6">
                <button type="button" class="btn btn-secondary" (click)="closeModal()"> <i class="fa fa-times"></i>
                  Close</button> &nbsp;
                <button type="button" class="btn btn-secondary " (click)="clearModal()"> <i class="fa fa-sync-alt"></i>
                  Clear</button>
              </div>

              <div class="col-sm-4 col-md-4 col-lg-4">
                <button *ngIf="isValidData()" type="button" class="btn btn-success" (click)="onStartTests()"> <i
                    class="fa fa-play"></i> Run</button>
              </div>
            </div>

          </div>


        </div>
      </div>
    </div>

    <!-- End of Modal -->
    <div *ngIf="showmodal" class="mbackdrop"></div>

  </div>
  <!-- End of Page Wrapper -->


</body>